
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .cardHighlight {
    min-height: 100%;
  }
  
  .cardSubhighlight {
    font-size: medium;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
  }
  